*~
*.pyc
/dist/
/build/
/TracAuthOpenId.egg-info/dependency_links.txt
/TracAuthOpenId.egg-info/entry_points.txt
/TracAuthOpenId.egg-info/PKG-INFO
/TracAuthOpenId.egg-info/requires.txt
/TracAuthOpenId.egg-info/SOURCES.txt
/TracAuthOpenId.egg-info/top_level.txt
/.coverage
/cover/
/.tox/
/*.egg/
