<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">

  <xi:include href="prefs.html" />

  <head>
    <title>OpenID</title>
  </head>

  <body>
    <p>
      You can log in to this trac using your OpenID(s).
    </p>

    <h2>Current OpenIDs</h2>
    <p py:if="len(openid_identifiers) == 0">
      There are currently no OpenIDs associated with your account.
    </p>
    <div py:if="len(openid_identifiers) != 0" py:strip="True">
      <p>
        The following OpenIDs are currently associated with your
        account:
      </p>
      <ul>
        <li py:for="identifier in openid_identifiers">
          <form method="post" action="">
            <div class="inlinebuttons">
              <!--! FIXME: Need javascript confirm dialog for "Delete" -->
              <code>${identifier}</code>
              <input type="hidden" name="action" value="delete_associations"/>
              <input type="hidden" name="association" value="${identifier}"/>
              <input type="submit" value="Delete" class="trac-delete"/>
            </div>
          </form>
        </li>
      </ul>
    </div>

    <h2>Add an OpenID</h2>
    <form method="post" accept-charset="UTF-8" action="">
      <fieldset>
        <legend>Claim an OpenID</legend>
        <div py:if="len(openid_identifiers)" class="important">
          <strong>Note</strong>: At present, each trac user can be
          associated with at most one OpenID &mdash; claiming another
          OpenID will remove any previously associated OpenIDs.  (Support
          for multiple OpenIDs per user will be added at some point.)
        </div>
        <p class="openid-authn-controls">
          <input type="text" name="openid_identifier" value="" size="50"/>
          <input type="hidden" name="action" value="associate"/>
          <input type="submit" value="Claim"/>
        </p>
      </fieldset>
    </form>
  </body>
</html>
