<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">

  <xi:include href="layout.html" />

  <head>
    <title>OpenID Login</title>
    <script type="text/javascript">
        $(document).ready(function(){
          document.login.openid_identifier.focus();
          });
    </script>
  </head>

  <body>
    <div py:attrs="{'class': css_class}" py:content="message"/>
    <div id="verify-form">
      <form name="login" method="post" accept-charset="UTF-8" action="${action}">
        OpenID URL:
        <input type="text" name="openid_identifier" class="openid-identifier" value="" />
        <input type="submit" value="Verify" />
      </form>
      <form py:if="gmail_action" name="gmail_login" method="post" accept-charset="UTF-8" action="${gmail_action}">
        or GMail login:
        <input type="submit" class="gmail_login" value="Login" />
      </form>
    </div>

    <p>
      <a py:attrs="{'href': whatis}">What is OpenId?</a>
      <a py:attrs="{'href': signup}">Sign-up</a>
    </p>
  </body>

</html>
