<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">

  <xi:include href="layout.html" />

  <head>
    <title>OpenID Login</title>
    <script type="text/javascript">
        $(document).ready(function() {
            <span py:if="custom_provider_name and custom_provider_url and custom_provider_image" py:strip="">
            providers_small.${custom_provider_name} = {
                name: '${custom_provider_name}',
                label: '${custom_provider_label}',
                url: '${custom_provider_url}',
                image: '${custom_provider_image}'
                }
            providers.${custom_provider_name} = providers_small.${custom_provider_name}
            </span>
            openid.img_path = "${images}";
            openid.init('openid_identifier');
        });
    </script>
  </head>

  <body>
    <form id="openid_form" name="login" method="post" accept-charset="UTF-8" action="${action}">
        <div py:attrs="{'class': css_class}" py:content="message"/>
        <div id="openid_choice">
            <p>Please click your account provider:</p>
            <div id="openid_btns"></div>
        </div>
        <div id="openid_input_area">
            OpenID URL:
            <input type="text" id="openid_identifier" name="openid_identifier" class="openid_identifier" value="" />
            <input type="submit" value="Sign-in" />
        </div>
    </form>

    <p>
      <a py:attrs="{'href': whatis}">What is OpenId?</a>
      <a py:attrs="{'href': signup}">Sign-up</a>
    </p>
  </body>

</html>
