
input.openid-identifier {
    background:#FFFFFF url(http://openid.net/login-bg.gif) no-repeat scroll 0pt 50%;
    padding-left:18px;
}

input.gmail_login {
    background:#FFFFFF url(https://mail.google.com/favicon.ico) no-repeat scroll 0pt 50%;
    padding-left:18px;
}

input.gmail_login:hover {
    background:#CCCCCC url(https://mail.google.com/favicon.ico) no-repeat scroll 0pt 50%;
    padding-left:18px;
}
